@import "./consts";

html {
  body {
    background: $background;
  }
}
.wrapper {
  width: calc(100%-30px);
  padding: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container {
  // position: relative;
}

#button-blue {
  .MuiButton-outlinedPrimary {
    color: #387AEF;
    text-transform: none;
  }
  .MuiButton-containedPrimary {
    background-color: #387AEF;
    text-transform: none;
  }
}

#button-primary {
  .MuiButton-outlinedPrimary {
    color: $primary;
    text-transform: none;
  }
  .MuiButton-containedPrimary {
    background-color: $primary;
    text-transform: none;
  }
}

#button-orange {
  margin-top: 30px;
  .MuiButton-outlinedPrimary {
    color: #FAC024;
    text-transform: none;
  }
  .MuiButton-containedPrimary {
    width: 360px;
    height: 44px;
    border-radius: 4px;
    background-color: #FAC024;
    color: $primary;
    text-transform: none;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bolder;
    font-size: 14px;
    line-height: 20px;

    /* Black */

    color: #050505;
  }
}

.link-blue {
  color: $blue;
  cursor: pointer;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;  
}

.link-blue :hover{
  opacity: 0.7;
}