@import "./consts";

html {
  body {
    background: $background;
  }
}
.wrapper {
  padding: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: calc(100%-30px);
}

.container {
  position: relative;
}

#button-blue {
  .MuiButton-outlinedPrimary {
    color: #387AEF;
    text-transform: none;
  }
  .MuiButton-containedPrimary {
    background-color: #387AEF;
    text-transform: none;
  }
}

#button-primary {
  .MuiButton-outlinedPrimary {
    color: $primary;
    text-transform: none;
  }
  .MuiButton-containedPrimary {
    background-color: $primary;
    text-transform: none;
  }
}

.link-blue {
  color: $blue;
  cursor: pointer;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;  
}

.link-blue :hover{
  opacity: 0.7;
}