@import "./../../styles/consts.scss";

.course-list{
  display: flex;
  flex-wrap: wrap;
}

.course-detail-container-card{
  background-color: #ffffff;
  border-radius: 8px;
  margin-left: 150px;
  padding: 32px;
  margin-right: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

.title-course-detail {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  word-wrap: break-word; 
  overflow-wrap: break-word;
  color: #050505;
  margin-bottom: 5px;
}

.title-course-section {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  word-wrap: break-word; 
  overflow-wrap: break-word;
  color: #050505;
  flex: 1;
}

.info-course-section{
}

.desc-course-detail {
  margin-top: 5px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  word-wrap: break-word; 
  overflow-wrap: break-word;
  color: #8A8C90;
  margin-bottom: 20px;
}

.preview-course-detail {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
  img {
    width: 100%;
    height: 250px;
    border-radius: 8px;
  }
  iframe {
    width: 100%;
    height: 250px;
    border-radius: 8px;
  }
}

.course-detail-wrapper {
  flex:1;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.course-section-wrapper {
  flex:1;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}
.course-preview-wrapper {
  flex:1;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.total-lectures{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  margin-left: 10px
}

.course-detail-container-section{
  background-color: #ffffff;
  border-radius: 8px;
  margin-left: 150px;
  padding: 32px;
  margin-right: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}
.course-section-list{
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
.course-section-title{
  cursor: pointer;
  display: flex;
  padding: 15px;
  flex-direction: row;
  background-color: #F0F2F5;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #D5D8DC;
  justify-content: space-between;
  align-items: center;
}
.course-section-title:hover{
  opacity: 0.7;
}

.course-section-title-text {
  flex: 1;
  margin-left: 10px;
  color: #050505;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
}

.course-section-grey-text {
  color: #8A8C90;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.course-lecture-title{
  cursor: pointer;
  display: flex;
  padding: 15px;
  flex-direction: row;
  background-color: #ffffff;
  box-sizing: border-box;
  border: 1px solid #D5D8DC;
}
.course-lecture-title:hover{
  opacity: 0.7;
}
.nobottom-radius{
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: 0px;
}
.bottom-radius{
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: 1px solid #D5D8DC;
}

.lectures-total{
  flex: 1
}
.course-section-title-text-wrapper {
  flex: 2;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.align-center {
  text-align: center;
}

.margin-left-full {
  margin-left: 30px;
}
.margin-left {
  margin-left: 10px;
}